<% Date.names.splice(12,12,"Января","Февраля","Марта","Апреля","Мая","Июня","Июля","Августа","Сентября","Октября","Ноября","Декабря"); %>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>S&Co [Monitoring]</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />
        <link rel="stylesheet" href="/static/main.css" />
	</head>
	<body>
        <div class="uk-container">
            <h1>S&Co</h1>
            <hr>
            <% state.forEach((dev) => { %>
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-4@m">
                    <div class="uk-card uk-card-default uk-card-hover">
                        <div class="uk-card-media-top">
                            <% if (files[dev.iddev] && files[dev.iddev][0]) { %>
                                <img src="/photos/<%= dev.iddev %>/<%= files[dev.iddev][0] %>" alt="">
                            <% } %>
                        </div>
                        <div class="uk-card-body">
                            <h4 class="uk-margin-remove-bottom" id="location-<%= dev.iddev %>"><%= dev.location %></h4>
                            <% if (dev.status.event === "sleep") { %>
                                <p class="uk-text-meta uk-margin-remove-top">Режим: Энергосбережение</p>
                            <% } else if (dev.status.event === "wakeup") { %>
                                <% if (dev.stream) { %>
                                    <div class="uk-card-badge uk-label uk-label-danger uk-button openlive" devid="<%= dev.iddev %>">Live</div>
                                <% } else { %>
                                    <div class="uk-card-badge uk-label">Online</div>
                                <% } %>
                                <p class="uk-text-meta uk-margin-remove-top">Режим: Работает</p>
                            <% } %>
                            <hr>
                            <%  const currentsens = sensors.filter((s) => {
                                    return (s.dev && s.dev === dev.iddev);
                                }).reverse()[0]
                                if (currentsens) {
                            %>
                                <p class="uk-text-meta uk-margin-remove-top">Показания от <%= currentsens.date.date("DD MMMM, HH:MM") %></p>
                                <small><ul class="uk-list uk-list-divider uk-list-small">
                                <% if (currentsens.temp) { %>
                                    <li>Температура: <b><%= currentsens.temp %> &deg;C</b></li>
                                <% } %>
                                <% if (currentsens.press) { %>
                                    <li>Давление: <b><%= currentsens.press %> мм.</b></li>
                                <% } %>
                                <% if (currentsens.mic) { %>
                                    <li>Шум: <b><%= currentsens.mic %> ед.</b></li>
                                <% } %>
                                <% if (currentsens.gas1) { %>
                                    <li>Газы 1: <b><%= Math.round((currentsens.gas1[0] + currentsens.gas1[1] + currentsens.gas1[2] + currentsens.gas1[3]) / 4) %> ед.</b></li>
                                <% } %>
                                <% if (currentsens.charge) { %>
                                    <li>Заряд: <b><%= Math.round(currentsens.charge.toFixed(2) * 100) %> %</b></li>
                                <% } %>
                                </ul></small>
                             <%
                                }
                             %>
                        </div>
                    </div>
                </div>
                <div class="uk-width-3-4@m">
                    <div class="uk-card uk-card-small uk-card-default uk-card-body">
                        <div id="chartdiv-<%= dev.iddev %>" class="chartdiv"></div>
                    </div>
                </div>
            </div>
            <hr>
            <% }) %>
            <hr>
        </div>

        <div id="modal-media-livestream" class="uk-flex-top" uk-modals>
            <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <video uk-video muted id="livestream"></video>
                <div class="uk-overlay uk-overlay-default uk-position-top" style="padding:8px 0px 8px 30px;background:rgba(255,255,255,.6);">
                    <p>
                        <span id="livestream-location"></span>
                        &emsp;&emsp;&emsp;
                        <span id="livestream-time"></span>
                        <span style="" class="uk-label uk-label-danger" id="livestream-label">LIVE</span>
                    </p>
                </div>
                <div uk-spinner class="livestream-spinner"></div>
                <a href="#" uk-icon="icon: expand" class="livestream-fullscreen"></a>
            </div>
        </div>

        <div id="periodSelector" style="">
            <div class="uk-card uk-card-small uk-card-default uk-card-hover uk-card-body uk-box-shadow-large">
                <button class="uk-button uk-button-default uk-width-1-1" id="zb0" onclick="zoomCharts(0)">День</button>
                <button class="uk-button uk-button-default uk-width-1-1" id="zb7" onclick="zoomCharts(7)">Неделя</button>
                <button class="uk-button uk-button-default uk-width-1-1" id="zb30" onclick="zoomCharts(30)">Месяц</button>
                <button class="uk-button uk-button-default uk-width-1-1" id="zb365" onclick="zoomCharts(365)">Максимум</button>
            </div>
        </div>

        <div style="display:none">
            <div uk-lightbox>
                <a class="uk-button uk-button-default" id="openLBbutton" href="" caption=""></a>
            </div>
        </div>
	</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https:////www.amcharts.com/lib/3/lang/ru.js"></script>
    <script>
let tmpfiles = <%- JSON.stringify(files) %>
let tmpsensors = <%- JSON.stringify(sensors) %>
const currentDate = new Date("<%- (new Date).toJSON() %>");
currentDate.setSeconds(currentDate.getSeconds() - 38);
setInterval(() => {
    currentDate.setSeconds(currentDate.getSeconds() + 1);
    $( "#livestream-time" ).text(currentDate.toLocaleTimeString());
}, 1000);

const openLB = (data) => {
    console.log(data);
    $('#openLBbutton').attr("href", data.image);
    $('#openLBbutton').attr("caption", data.date.toLocaleString('ru'));
    $('#openLBbutton').click();
}

    </script>
    <script src="/static/js/charts.js"></script>
    <script src="/static/js/dash.all.debug.js"></script>
    <script src="/static/js/player.js"></script>
</html>
